* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px 5%;
    background-color: white;
}
header {
    text-align: center;
    margin-bottom: 40px;
}
header p {
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
    font-weight: bold;
}
header h1 {
    font-size: 250px;
    font-weight: bold;
    letter-spacing: -2px;
    white-space: nowrap;
    border-top: 1px solid #667085;
    border-bottom: 1px solid #667085;
}
.post{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-me h2{  
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
    color: red;
}
.tiklama{
    text-decoration: none;
}
.about-me p{
    color: #667085;
    margin-bottom: 2%;
    font-size: 16px;
}
.skills h3{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 2%;
}
.article{
    margin-left: 2%;
    color: #667085;
}
/* media */
@media (max-width: 1200px) {
    header h1 {
        font-size: 200px;
    }
}
@media (max-width: 992px) {
    header h1 {
        font-size: 150px;
    }
}
@media (max-width: 768px) {
    header h1 {
        font-size: 100px; 
        
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 70px; 
    }
}